* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $black-color;
}

h1,
h2,
h3,
p {
  color: &black-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black-color;
}

img {
  max-width: 100%;
  height: auto;
}

