.main-container {
  padding: 0 0rem;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 2.5rem;
}

.section {
  padding: 1rem 0 2rem;
  min-height: 70vh;
}

.title {
  font-size: $h2-font-size;
  text-align: left;
  margin: .25rem 0;
  margin-bottom: .5rem;
}

.text {
  font-size: $normal-font-size;
  margin-bottom: .2rem;
}

.subtitle {
  font-size: $h3-font-size;
  text-align: left;
  margin: .25rem 0;
  color: $grey-color;
}

.main {
  overflow: hidden;
}

.logo {
  display: inline-flex;
  align-items: center;
  column-gap: .2rem;
  color: $black-color;
  transition: .3s;

  &:hover {
    transform: scale(1.08);
  }
}

.border-left {
  border-left: 1rem solid $first-color-alt;
  border-radius: .5rem;
}
.border-top {
  border-top: 1rem solid $first-color-alt;
  border-radius: .5rem;
}

.date {
  padding: 1rem;
}

.card {
  transition: .3s;

  &__content {
    width: 100%;
    border: 1.5px solid $black-color;
    border-radius: .5rem;
  }

  &-bottom {
    padding: 1rem;
  }

  &:hover {
    box-shadow: 0 10px 10px $grey-color;
    border-radius: .5rem;
  }
}