::-webkit-scrollbar {
  width: .6rem;
  background-color: $first-color;

}

::-webkit-scrollbar-thumb {
  background-color: $first-color-alt;

}

::-webkit-scrollbar-thumb:hover {
  background-color: $first-color-hover;

}